.comments {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 2rem;
}
.comments span {
  margin-right: 0.3rem;
}
.user_comments {
  width: 100%;
}
.headerComments {
  width: max-content !important;
  color: #1c1c1b !important;
  margin: 6rem auto 3rem auto !important;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline #c10038 !important;
  text-underline-offset: 1rem !important;
}
.form_bg {
  width: 100%;
}
@media (min-width: 768px) {
  .comments {
    display: flex;
    flex-direction: row;
  }
  .user_comments {
    width: 50%;
  }

  .form_bg {
    width: 50%;
  }
}
