.buttonLoad {
  /* Ensures the button does not stretch full width */
  background-color: white;
  border: none;
  padding: 0 !important;
}
.buttonLoad :hover {
  transition: 0.4s;
  cursor: pointer;
  text-align: center !important;
  border-radius: 5px;
  background-color: #ffe0ae;
}
.heart {
  color: red !important;
  font-size: 2.5rem;
  cursor: pointer;
  text-align: center !important;
  border-radius: 5px;
  text-align: center !important;
  transition: 0.4s;
  background-color: #ffe0aedc;
}
.swal2-custom-zindex {
  z-index: 5000 !important;
}
