.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: auto;
  width: 100%;
}
.img {
  width: 40%;
  height: 100%;
  border-radius: 20px;
}
.cardTexts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 66%;
  gap: 1rem;
}
.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1; /* Ensure the body grows */
}
.title {
  font-size: 1.5rem;
  line-height: inherit;
  color: #191a1b;
  margin-bottom: 0.5rem;
}
.priceContainer {
  display: inline;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  direction: ltr;
  text-align-last: left;
}
.price {
  text-decoration-line: line-through;
  font-size: 1.2rem;
  line-height: inherit;
  font-weight: bold;
  margin-right: 0.5rem;
  color: #191a1b93;
}
.discountedPrice {
  color: #d82508 !important;
  font-weight: bold;
  font-size: 1.5rem;
}

.offer {
  color: #ff0101cb !important;
  font-weight: bolder;
  text-decoration-line: none;
}
.noOffer {
  color: #000000 !important;
  font-weight: bold;
  font-size: 1.5rem;
}
@media (min-width: 576px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: auto;
    width: 100%;
    height: 100%; /* Ensure the card takes full height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .img {
    width: 100%; /* Make sure image takes full width */
    height: auto;
    border-radius: 10px;
    cursor: pointer;
  }

  .cardTexts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
    flex-grow: 1; /* Ensure the text container grows */
  }

  .cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* Ensure the body grows */
  }

  .title {
    font-size: 1.5rem;
    line-height: inherit;
    color: #191a1b;
    margin-bottom: 0.5rem;
  }

  .priceContainer {
    display: table-row-group;
    justify-content: space-between;
    width: 100%;
  }

  .price {
    text-decoration-line: line-through;
    font-size: 1.2rem;
    line-height: inherit;
    font-weight: bold;
    color: #191a1b93;
  }

  .discountedPrice {
    color: #d82508 !important;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .offer {
    color: #ff0101cb !important;
    font-weight: bolder;
    text-decoration-line: none;
  }

  .noOffer {
    color: #000000 !important;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
