.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  font-family: "Roboto", sans-serif;
  width: 100%;
  color: #333;
  text-align: center !important;
  margin-top: 5rem;
}

.button {
  background-color: #333 !important;
  color: #fff !important;
  border: none !important;
  padding: 10px 20px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: #555 !important;
}

.cardText {
  text-align: center !important;
}

.nav {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navLink {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  margin: 0 1rem;
}

.navLink:hover {
  text-decoration: underline;
}

.cardFooter {
  width: 100%;
  padding: 1rem;
  background-color: #e9ecef;
  border-top: 1px solid #dee2e6;
  text-align: center !important;
  direction: ltr;
}
