@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbarContainer {
  display: block;
  font-size: 1.5rem;
  font-weight: bolder;
  position: sticky;
  z-index: 3000;
  top: 0;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

.MyFontNav {
  display: flex;
  flex-direction: row !important;
  gap: 2rem;
  align-items: center;
  flex-flow: row !important;
  font-size: 2rem;
  font-weight: bolder;
  margin-left: 1rem;
  border-color: #ffffff !important;
}

.navbar_search {
  width: 40%;
  position: relative;
}

.MyFontNavContainer {
  display: flex;
}

.navbar_search input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: 2px solid #eee;
  border-radius: 5px;
  font-family: inherit;
}

.navbar_search_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  font-size: 1.5rem;
  color: #636e72 !important;
  cursor: pointer;
}

.navbar_user_avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.navbar_user_avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productCategories {
  position: relative;
  display: inline-block;
}

.productCategoriesContent {
  display: none;
  position: fixed;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 3000;
  min-width: 160px;
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 5px;
  overflow: hidden;
}

.productCategoriesContent.show {
  display: block;
}

.productCategoryLink {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.564);
  transition: background-color 0.3s, transform 0.3s;
}

.productCategoryLink:hover {
  background-color: #eee;
  transform: translateY(-5px) scale(1.05);
}

.containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  gap: 2rem;
  padding: 0;
}

.OffcanvasNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-left: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.OffcanvasNavText {
  font-weight: bolder;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem !important;
  border-radius: 5px;
  text-align: center !important;
  font-size: 1rem;
  width: max-content;
  border: none;
}

.OffcanvasNavText:hover {
  color: #191a1b;
  transform: translateY(-5px) scale(1.05) rotate(-1deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.offcanvas {
  align-items: flex-start;
}

.offcanvasHeader {
  width: 100%;
}

.authLinks {
  float: left;
  padding: 10px 0;
}

.navBrand {
  font-size: 2rem !important;
  font-weight: bold;
  color: #191a1b;
  text-decoration: none;
  cursor: pointer;
}

.cartCount {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  position: absolute;
  top: -2px;
  right: -6px;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languageSwitcher {
  justify-content: center;
  position: relative;
  display: inline-block;
}

.languageSwitcher button {
  cursor: pointer;
  background: border-box;
  border: none !important;
  border-radius: 20px;
}

.languageSwitcher button:hover {
  background-color: none !important;
}

.registerOrLoginTextNav {
  font-size: 1.5rem;
}

.languageSwitcher {
  position: relative;
}

.languageFlag {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  position: relative;
  top: -1rem;
}

.languageIcon {
  width: 2.5rem;
  height: 2.5rem;
  color: #083344;
}

.languageIcon:hover {
  color: #083344d1;
}

.languageButtonText {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
}

.languageDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.languageDropdown button {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 1.5rem;
}

.languageDropdown button:hover {
  background: #f0f0f0;
}
.icon {
  margin-left: 0.5rem;
  color: hsl(210, 100%, 56%);
  font-size: 1rem;
  margin-bottom: 0.1rem;
}

/* Mobile Navbar */
.mobileNavbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  z-index: 1000;
}

.mobileNavLink {
  flex: 1;
  text-align: center !important;
  padding: 0.5rem;
  color: #000000c1;
  font-size: 1.1rem;
}
.iconMobile {
  display: block;
  margin: auto;
  color: hsla(0, 0%, 0%, 0.498);
  font-size: 3rem;
  margin-bottom: 0.1rem;
}
.searchBoxMobile {
  width: max-content;
  background-color: #e6e7e9;
  border: none;
  padding: 0.5rem;
  border-radius: 14px;
  text-align: center;
  font-size: 1.1rem;
  margin: 0 2rem;
}
.mobileNavLink:hover {
  background-color: #f0f0f0;
}

.mobileCategories {
  position: fixed;
  bottom: 3rem;
  width: 100%;
  background: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.mobileCategories a {
  display: block;
  padding: 1rem;
  color: #000;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.mobileCategories a:hover {
  background-color: #f0f0f0;
}
