/* Container styles */
.myContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Row and Column layout */
.myRow {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.myCol {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Image styles */
.myImg {
  border-radius: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: fixed;
  margin-top: 1rem;
}

.myImg:hover {
  transform: scale(1.03);
}
.myImgFixed {
  position: fixed;
  transition: transform 0.3s ease;
  margin-top: 1rem;
  border-radius: 5%;
}

.myImgNormal {
  position: static;
  margin-top: 1rem;
  border-radius: 5%;
}

/* Text styling */
.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  text-align: justify;
}

.text {
  font-size: 1.3rem;
  color: rgb(35, 37, 78);
  margin-bottom: 16px;
  text-align: justify;
  line-height: 2.15;
  vertical-align: baseline;
  font-family: sans-serif;
}

.discountedPrice {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  text-align: justify;
  border: #000000;
  border-radius: 8px;
  padding: 10px;
  background-color: #28a745;
}

.buttonFixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

/* Responsive settings */
@media (max-width: 1024px) {
  .myRow {
    flex-direction: row;
  }
  .buttonFixed {
    position: fixed;
    bottom: 5.5rem;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  }
  .myCol {
    margin-bottom: 20px;
  }

  .title,
  .text,
  .price {
    text-align: center !important;
    text-align: justify !important;
  }
  .myColSticky {
    position: static; /* Disable sticky for mobile view */
  }
  .myImg {
    position: relative;
  }
  .myImgFixed {
    position: static;
    transition: transform 0.3s ease;
    margin-top: 1rem;
  }
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .myImgNormal {
    position: static;
    margin-top: 0rem;
  }
}

.myRowButton {
  display: block;
  background-color: #f9f9f9;
  margin-top: 2rem;
  padding: 0 1.5rem;
}

.myDivButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000;
  margin-top: 1.3rem;
  background-color: #f9f9f9;
}

.myFormattedPrice {
  text-align: center !important;
}

.offer {
  color: #ff0101c2 !important;
  background-color: #ff010148;
  border-radius: 20px;
  padding: 5px;
  font-weight: bolder;
  text-decoration-line: none;
  display: block;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.price {
  text-decoration-line: line-through;
  font-size: 1.5rem;
  line-height: inherit;
  font-weight: bold;
  margin-right: 0.5rem;
  color: #191a1b93;
}
